.Virtual{
    margin-top: 6rem;
    margin-bottom: 6rem;
    padding: 2rem;
    display: flex;
    justify-content: space-around;
}
.left{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: relative;
}
.left>:first-child{
    text-transform: uppercase;
    font-size: 2rem;
    display: block;
    font-weight: bold;
}
.left>:nth-child(2){
    text-transform: uppercase;
    font-size: 1.6rem;
    display: block;
    width: 20rem;
}
.left>:nth-child(3){
    font-size: 1.6rem;
    font-weight: bold;
}
.left>img{
    width: 10rem;
    position: absolute;
    bottom: 3rem;
}
.wrapper{
    width: 30rem;
}
